<!DOCTYPE html>
<html lang="en">

<head>
    <title>ShopMart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    .center {
    text-align: center
    }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-4">
        <div class="media">
            <div class="media-left">
                <img src="shopmart.png" class="media-object" style="width:60px">
            </div>
        </div>ShopMart</div>
    <div class="col-sm-4"><h2 class="center">Welcome to ShopMart</h2>
        <h4 class="center"><small>Your favorite grocery store</small></h4></div>
    <div class="col-sm-4"><div class="center">Login/SignUp</div></div>

</div>


</body>
</html>